body{
  display: flex;
  justify-content: center;
}

button:hover{
  cursor: pointer;
}

.container{
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input_container{
  display: flex;
  flex-direction: row;
}

.input_container > input{
  width: 40vw;
}

.input_container > input:focus{
  outline: 2px solid rgba(0, 115, 255, 0.834);
  box-shadow: 3px 3px 3px 3px #0000007b;
}

.todos_container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.todos{
  display: flex;
  flex-direction: row;
}

.buttons_container{
  margin: 5px;
}